.footer {
    text-align: center;
    background-color: #507687;
    color: #FCFAEE;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .footer-title {
    margin-top: 0.5rem;
    font-weight: bold;
  }
  
  .footer-description {
    margin-top: 0.5rem;
  }
  
  .footer-contact {
    margin-top: 0.5rem;
  }
  
  .footer-rights {
    margin-top: 0.5rem;
  }
  